@using SaemWeb.Components.UI;

<div class="flex flex-col gap-10">
  <div class="flex justify-between">
    <input type="text" class="border-grey border-2 rounded-lg p-2 focus:outline-none" placeholder="Digite aqui">

    <div class="flex gap-7">
      @OtherButton

      <OrangeButton ButtonHRef="@ButtonHRef">
        <Content>
          @ButtonText
          <img src="./icons/plus.svg" class="w-4.5" />
        </Content>
      </OrangeButton>
    </div>
  </div>

  <ul>
    @ListHeader
    @ListItems
  </ul>
</div>

@code {
  [Parameter]
  public required string ButtonText { get; set; }
  [Parameter]
  public required string ButtonHRef { get; set; }
  [Parameter]
  public required RenderFragment ListHeader { get; set; }
  [Parameter]
  public required RenderFragment ListItems { get; set; }
  [Parameter]
  public RenderFragment? OtherButton { get; set; }
}