@page "/professores/cadastrar"
@using SaemWeb.Components.Layout.Header;
@using SaemWeb.Components.Section;

<Header>
  <Title>
    <span class="text-grey font-medium">
      Professores /
    </span>
    <span class="opacity-0">.</span>

    Cadastrar Professor
  </Title>
</Header>

TODO: add formulario