@page "/professores/editar/{Id}"
@using SaemWeb.Components.Layout.Header;
@using SaemWeb.Components.Section;

<Header>
  <Title>
    <NavLink href="/professores">
      <span class="text-grey font-medium">
        Professores /
      </span>
    </NavLink>

    <span>
      Cadastrar Professor
    </span>
  </Title>
</Header>

TODO: add formulario

<NavLink href="/professores">
  Voltar
</NavLink>