@page "/professores"
@using SaemWeb.Components.Layout.Header;
@using SaemWeb.Components.Section.List;
@using SaemWeb.Models;
@using SaemWeb.Components.Section.ManagementDefaultSkeleton;
@inject ProfessorDAO professorDAO;

<PageTitle>Professores - SAEM</PageTitle>

<Header>
  <Title>
    Professores
  </Title>
</Header>

<ManagementDefaultSkeleton ButtonText="Novo Professor" ButtonHRef="/professores/cadastrar">
  <ListHeader>
    <ListItem Header="true" ColumnsCount="4">
      <ChildContent>
        <span>Nome</span>
        <span>CPF</span>
        <span>Email</span>
        <span>Telefone</span>
        <span>Ações</span>
      </ChildContent>
    </ListItem>
  </ListHeader>

  <ListItems>
    @foreach (Professor professor in professores)
    {
      <ListItem ColumnsCount="4">
        <span>@professor.Nome</span>
        <span>@professor.Cpf</span>
        <span>@professor.Email</span>
        <span>@professor.Telefone</span>

        <ActionButtons SeeButtonHRef="./cursos/ver" EditButtonHRef="/professores/editar"  />
      </ListItem>
    }

    @if (professores.Count == 0)
    {
      <span>Ainda não há nenhum professor cadastrado.</span>
    }
  </ListItems>
</ManagementDefaultSkeleton>

@code {
  private List<Professor> professores = new();
  protected override void OnInitialized()
  {
    professores = professorDAO.Listar();
  }

  void Nothing() { }
}