@page "/professores/ver/{Id}"
@using SaemWeb.Components.Layout.Header;
@using SaemWeb.Components.Section.List;
@using SaemWeb.Models;
@inject ProfessorDAO professorDAO;

<PageTitle>Professores - SAEM</PageTitle>

<Header>
  <Title>
    Professores
  </Title>
</Header>

<div class="flex flex-col gap-10">
  professor burro @Id
</div>

@code {
  [Parameter]
  public required string Id { get; set; }

  private List<Professor> professores = new();
  protected override void OnInitialized()
  {
    professores = professorDAO.Listar();
  }
}