<h2
  class="flex items-center text-lg font-medium before:h-[1em] before:bg-orange-1 before:w-1 before:content-[''] before:inline-block before:mr-2 focus:outline-none">
  @Text
</h2>

@code {
  [Parameter]
  public required string Text { get; set; } = "";
}