@page "/turmas"

@using SaemWeb.Components.Layout.Header;
@using SaemWeb.Components.Section;
@using SaemWeb.Models;
@using SaemWeb.Components.Section.ManagementDefaultSkeleton;
@using SaemWeb.Components.Section.List;
@using SaemWeb.Components.UI;
@inject NavigationManager Navigation

@inject TurmaDAO turmaDAO;

<PageTitle>Turmas - SAEM</PageTitle>

<Header>
  <Title>
    Turmas
  </Title>
</Header>

<ManagementDefaultSkeleton ButtonText="Nova Turma" ButtonHRef="/turmas/cadastrar">
  <ListHeader>
    <ListItem Header="true" ColumnsCount="3">
      <ChildContent>
        <span>Nome</span>
        <span>Vagas</span>
        <span>Status</span>
        <span>Ações</span>
      </ChildContent>
    </ListItem>
  </ListHeader>

  <ListItems>
    @foreach (Turma turma in turmas)
    {
      <ListItem ColumnsCount="3">
        <span>@turma.Nome</span>
        <span>@turma.Vagas</span>
        <span>@turma.Status</span>

        <ActionButtons SeeButtonHRef="./turmas/ver" EditButtonHRef="/turmas/editar" />
      </ListItem>
    }

    @if (turmas.Count == 0)
    {
      <span>Ainda não há nenhuma turma cadastrada.</span>
    }
  </ListItems>
</ManagementDefaultSkeleton>

@code {
  private List<Turma> turmas = new();
  protected override void OnInitialized()
  {
    turmas = turmaDAO.Listar();
  }

  void Nothing() { }
}