@using SaemWeb.Components.Layout.Header;
@page "/instrumentos/cadastrar";

<PageTitle>Instrumentos - SAEM</PageTitle>

<Header>
  <Title>
    Instrumentos / Cadastrar Instrumento
  </Title>
</Header>

<NavLink href="/professores">
  Voltar
</NavLink>