@using SaemWeb.Components.Section;
@using SaemWeb.Models

<ListItem>
  <ChildContent>
    @foreach (dynamic prop in item)
    {
      <span> @item.prop </span>
    }

    <ActionButtons SeeButtonHRef="@SeeButtonHRef" EditButtonHRef="@EditButtonHRef" ExcludeButtonFn="@ExcludeButtonFn" />
  </ChildContent>
</ListItem>

@code {
  [Parameter]
  public required dynamic item { get; set; }

  // action buttons
  [Parameter]
  public required string SeeButtonHRef { get; set; }
  [Parameter]
  public required string EditButtonHRef { get; set; }
  [Parameter]
  public required EventCallback ExcludeButtonFn { get; set; }

}