@using SaemWeb.Components.Section;

<ListItem>
  <ChildContent>
    <span>Fulano de tal</span>
    <span>69987455245</span>
    <span>fulano@gmail.com</span>
    <span>45698712365</span>
    <div class="flex justify-between">
      <ActionsButton IconSrc="./icons/eye.svg" />
      <ActionsButton IconSrc="./icons/pencil.svg" />
      <ActionsButton IconSrc="./icons/trash.svg" />
    </div>
  </ChildContent>
</ListItem>