<div class="nav-scrollable h-full" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item">
            <NavLink class="nav-link px-3" href="#" Match="NavLinkMatch.All">
                <img src="./icons/house.svg" class="w-5 mr-3" />
                <span>Início</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3" href="#" Match="NavLinkMatch.All">
                <img src="./icons/clock.svg" class="w-5 mr-3" />
                <span>Horário e eventos</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3" href="#" Match="NavLinkMatch.All">
                <img src="./icons/money.svg" class="w-5 mr-3" />
                <span>Mensalidades</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3" href="#" Match="NavLinkMatch.All">
                <img src="./icons/sofa.svg" class="w-5 mr-3" />
                <span>Ambientes</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3" href="#" Match="NavLinkMatch.All">
                <img src="./icons/guitar.svg" class="w-5 mr-3" />
                <span>Cursos</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3" href="#" Match="NavLinkMatch.All">
                <img src="./icons/graduation-hat.svg" class="w-5 mr-3" />
                <span>Professores</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3" href="#" Match="NavLinkMatch.All">
                <img src="./icons/people.svg" class="w-5 mr-3" />
                <span>Alunos e turmas</span>
            </NavLink>
        </div>
    </nav>
</div>
