<div class="nav-scrollable h-full" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item">
            <NavLink class="nav-link px-3" href="/" Match="NavLinkMatch.All">
                <img src="./icons/house.svg" class="w-5 mr-3" />
                <span>Início</span>
            </NavLink>
        </div>

        @* <div class="nav-item">
            <NavLink class="nav-link px-3" href="#" Match="NavLinkMatch.All">
                <img src="./icons/clock.svg" class="w-5 mr-3" />
                <span>Horário</span>
            </NavLink>
        </div> *@

        <div class="nav-item">
            <NavLink class="nav-link px-3" href="/cursos" Match="NavLinkMatch.All">
                <img src="./icons/guitar.svg" class="w-5 mr-3" />
                <span>Cursos</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3" href="/professores" Match="NavLinkMatch.All">
                <img src="./icons/graduation-hat.svg" class="w-5 mr-3" />
                <span>Professores</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3" href="/alunos" Match="NavLinkMatch.All">
                <img src="./icons/student.svg" class="w-5 mr-3" />
                <span>Alunos</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link px-3" href="/turmas" Match="NavLinkMatch.All">
                <img src="./icons/people.svg" class="w-5 mr-3" />
                <span>Turmas</span>
            </NavLink>
        </div>

    </nav>
</div>