@using SaemWeb.Components.Layout.Header;
@page "/cursos/cadastrar";

<PageTitle>Cursos - SAEM</PageTitle>

<Header>
  <Title>
    Cursos / Cadastrar Curso
  </Title>
</Header>

<NavLink href="/cursos">
  Voltar
</NavLink>