@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 0;
}

body {
  height: 100dvh;
  width: 100dvw;
}
