@using SaemWeb.Components.Section.List;

<div class="flex justify-between">
  <NavLink href="@SeeButtonHRef">
    <ActionButton IconSrc="./icons/eye.svg" />
  </NavLink>

  <NavLink href="@EditButtonHRef">
    <ActionButton IconSrc="./icons/pencil.svg" />
  </NavLink>

  <NavLink href="@ExcludeButtonHRef">
    <ActionButton IconSrc="./icons/trash.svg" />
  </NavLink>
</div>

@code {
  [Parameter]
  public required string SeeButtonHRef { get; set; }
  [Parameter]
  public required string EditButtonHRef { get; set; }
  [Parameter]
  public string? ExcludeButtonHRef { get; set; }
  [Parameter]
  public EventCallback? ExcludeButtonFn { get; set; }

}