<button @onclick="@HandleClick"
  class="bg-orange-1/15 w-9 h-9 border-2 border-orange-2/15 text-orange-2 flex items-center justify-center rounded-md hover:brightness-80">
  <img src="@IconSrc" class="text-orange-2" />
</button>

@code {
  [Parameter]
  public required string IconSrc { get; set; }
  [Parameter]
  public EventCallback HandleClick { get; set; }
}