<section
  class="flex-1 grid grid-cols-[4rem_repeat(4,1fr)] grid-flow-row border-2 border-grey rounded-lg overflow-hidden gap-0.5 bg-grey text-[0.813rem]">
  <div class="p-1.5 flex items-center justify-center bg-white/80 col-span-5">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">19/05</span>
      <span>Segunda</span>
    </p>
  </div>

  <div class="flex items-center justify-center bg-white/80 font-medium">
    07:30
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="flex items-center justify-center bg-white/80 font-medium">
    08:20
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="flex items-center justify-center bg-white/80 font-medium">
    09:10
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="flex items-center justify-center bg-white/80 font-medium">
    10:20
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="flex items-center justify-center bg-white/80 font-medium">
    11:10
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>

  <div class="p-5 flex items-center justify-center bg-white">
    <p class="flex flex-col items-center justify-center text-[0.813rem]">
      <span class="font-semibold">Aula - Turma</span>
      <span>Sala 96</span>
    </p>
  </div>
</section>