<header class="flex justify-between items-center pt-4 pb-8 border-b border-grey mb-11">
  <h1
    class="flex items-center text-2xl font-semibold before:h-[1em] before:bg-orange-1 before:w-1.5 before:content-[''] before:inline-block before:mr-3 focus:outline-none">
    @Title
  </h1>

  <span class="text-sm">
    Segunda-feira, 29 de maio
  </span>
</header>

@code {
  [Parameter]
  public RenderFragment? Title { get; set; }
}